body {
  font-size: 1em;
}

md-toolbar {
  background-color: rgb(67,66,68);
}
md-toolbar ul {
  font-size: .8em;
  float: left;
}
md-toolbar li {
  display: inline-block;
  float: right;
  margin: 8px;
  color: rgb(67,66,68);
  font-weight: bold;
}
